.body{
    
    font-family: 'IBM Plex Sans KR', sans-serif;
    color:#2f363e;
}

.status-bar__warp{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1;  
}
.status-bar{
    padding: 3px 10px; 
    display: flex;
    justify-content: space-between;
}

.status-bar__left{
    display: flex;
    align-items: center;
    font-size:15px;
}

.status-bar__left span:last-child{
    font-size:21px;
    margin-left:2px;
}

.status-bar__right{
    display: flex;
    align-items: center;
}

.status-bar__right span{
    margin-right: 4px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.header img{
    width: 100%;
    position: relative;
}

.profile{
    position: absolute;
    top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile img{
    width: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.profile-text span:first-child{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
}

.profile-text span:last-child{
    color: rgb(61, 141, 253);
}

.profile-number{
    display: flex;
    flex-direction: row;
}

.number-count{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}

.number-count:first-child{
    margin-right: 20px;
}

.number-count span:first-child{
    font-weight: 600;
    font-size: 15px;
    border-bottom: 1px solid black;
}

.count{
    margin: 8px 0px;
    color: rgb(40, 40, 40);
}

.number-count button{
    background-color: #F9DA44;
    border: 0px;
    padding: 10px;
    border-radius: 15px;
    width: 180px;
}

.number-count button:hover{
    background-color: #ddb800;
    color: white;
}


.warp{
    margin-top: 300px;
    padding: 50px 50px;
}

h1{
    margin: 0px;
    font-size: 40px;
}

h4{
    margin: 0px;
    font-weight: 400;
    opacity: 71%;
}

.about-me{
    display: flex;
    flex-direction: column;
}

.about-me__content{
    display: flex;
    align-items: center;
    justify-content: center;

}

.about-me__content img{
    width: 300px;
    border-radius: 10px;
    margin: 20px;
}

.about-me__text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me__text h2{
    font-size: 30px;
}

.text-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.text-content span{
    margin: 5px 0px;
}

.info-title span{
    font-weight: 700;
}

.info-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me__info{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}
.about-me__info-warp{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(228, 228, 228);
    margin-bottom: 50px;
    padding:20px 300px;
}

h3{
    background-color: #FFF8D5;
    width: 100%;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
}

.plan-box{
    border: 1px solid gray;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.plan-box:first-child{
    margin-right: 10px;
}

.plan-box h1{
    font-size: 100px;
}

.plan-row{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: center;
}

.plan-box__title{
    font-size:30px;
    font-weight: 800;
}

.title{
    margin-top: 50px;
}

.subtitle{
    margin:20px 0px;
}
h2{
    margin: 10px 0px;
}

.coding-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.coding-img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px;
}

.coding-img img{
    width:200px;
    
}

.coding-content span{
    margin-bottom: 15px;
}

.coding-content a{
    background-color: #F9DA44;
    padding: 10px;
    width: 100px;
    border-radius: 15px;
    font-size: 13px;
}

.my-work-coding__content{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px 0px;
    border-top: 1px solid rgb(223, 223, 223);
    padding-top: 10px;
}

.coding-img-second{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.coding-img-second{
    width: 1000px;
}

.my-work-coding__recap{
    background-color: rgb(67, 67, 67);
    padding: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
    margin-bottom: 50px;
}

.design-img img{
    width: 800px;
    margin-bottom: 20px;
}
.design-content{
    display: flex;
    flex-direction: column;
}
.design-content__column{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.my-work-design{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #c1c1c1;
    margin-top: 20px;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.process-warp{
    margin:100px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.process-warp a{
    background-color: #F9DA44;
    padding: 20px;
    border-radius: 15px;
    color: black;
}
.process-warp a:hover{
    background-color: #ddb800;
    color: rgb(255, 255, 255);
}

footer{
    background-color: #fff6c9;
    padding: 50px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.process-warp a{
    width: 200px;
    margin: 20px;
    font-size: 13px;
    padding:10px;

}